#Do we need these many dependencies? Pining them to a fixed version causes some conflicts and warning during pip installation. 
#Preferablly move the necessary ones into pyproject.toml

astroid==2.11.5
boto3==1.23.8
botocore==1.26.8
coverage==6.4
dill==0.3.5.1
isort==5.10.1
jmespath==1.0.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
prompt-toolkit==1.0.14
Pygments==2.12.0
PyInquirer==1.0.3
pylint==2.14.0
python-dateutil==2.8.2
regex==2022.4.24
s3transfer==0.5.2
six==1.16.0
tomli==2.0.1
tomlkit==0.11.0
typed-ast==1.5.4
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
wrapt==1.14.1
