boto3==1.28.53
botocore==1.31.53 
jmespath==1.0.1   
pip==21.1
prompt-toolkit==1.0.14  
Pygments==2.16.1  
PyInquirer==1.0.3   
python-dateutil==2.8.2   
regex==2023.8.8
s3transfer==0.6.2   
six==1.16.0  
urllib3==1.26.16
wcwidth==0.2.6
setuptools==65.6.0